body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}

.homeSection {
  .parallaxContainer {
    position: relative;
    max-height: 800px;
    overflow: hidden;
    width: 100%;

    .parallaxImage {
      width: 100%;
      position: relative;
    }

    .centeredCaption {
      position: absolute;
      top: 20%;
      left: 28%;
      transform: translate(-50%, -50%);
      text-align: left;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      max-width: 30%;

      &Title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .homeSectionText {
        margin-bottom: 2rem;
      }
    }

    .imageCaption {
      position: absolute;
      bottom: 10%;
      left: 27%;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      text-align: center;
      transform: translate(-50%, -50%);

      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        margin-bottom: 3rem;
      }

      .orderNowButton {
        font-family: "Poppins", sans-serif;
        padding: 20px 30px;
        font-weight: 700;
        font-size: 20px;
        border: none;
        font-style: normal;
        background-color: #f9e95e;
        color: #151515;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f1e999;
        }
      }
    }
  }
}

.teamSection {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;

  .sectionTitle {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 100px;
    font-weight: 600;
  }

  .teamMembers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;

    .teamMember {
      background-color: #ffffff;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      .teamMemberImage {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid #ffffff;
      }

      .teamMemberName {
        font-size: 1.3em;
        margin: 10px 0;
        font-weight: 600;
        color: #2c3e50;
      }

      .teamMemberRole {
        font-size: 1em;
        margin-bottom: 15px;
        color: #7f8c8d;
      }
    }
  }
}
