.ingredient-item {
    display: flex;
    flex-direction: column;
    max-width: 106px;
    opacity: 0.5;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border: 1px solid transparent;
  
    &.active {
      border: 1px solid red;
    }
  
    &.active,
    &:hover {
      opacity: 1;
    }
  
    & input {
      max-width: 100%;
    }
  }