.new_flavors {
    height: 100vh;
    // background: linear-gradient(180deg, #4e4a4a,#686262 60%,);
    display: flex;
}

.new_flavors-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    // line-height: 1.1;
}

.new_flavors-left h2 {
    color: aqua;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.new_flavors-left p {
    color: rgb(106, 130, 130);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hand_hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    color: red;
    font-size: 40px;
}

.icon:hover {
    color: aliceblue;
    transition: var(--transition);
}

.latest-flavours-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #a75d5d;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.new_flavors-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flavors-img{
    height: 450px;
    width: 550px;
}